.idea/MorphologicalDisambiguation.iml
cmake-build-debug/libMorphologicalDisambiguation.a
cmake-build-debug/MorphologicalDisambiguation.cbp
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/build.make
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/CXX.includecache
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/depend.internal
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/depend.make
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/DisambiguatedWord.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/DisambiguationCorpus.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/DummyDisambiguation.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/flags.make
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/HmmDisambiguation.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/link.txt
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/NaiveDisambiguation.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/progress.make
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/RootFirstClassifierDisambiguation.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/RootFirstDisambiguation.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/RootWordStatistics.cpp.o
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
