.idea/MorphologicalDisambiguation.iml
cmake-build-debug/libMorphologicalDisambiguation.a
cmake-build-debug/MorphologicalDisambiguation.cbp
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/build.make
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/CXX.includecache
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/depend.internal
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/depend.make
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/DisambiguatedWord.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/DisambiguationCorpus.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/DummyDisambiguation.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/flags.make
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/HmmDisambiguation.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/link.txt
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/NaiveDisambiguation.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/progress.make
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/RootFirstClassifierDisambiguation.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/RootFirstDisambiguation.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/RootWordStatistics.cpp.o
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.15.3/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/LongestRootFirstDisambiguation.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/AutoDisambiguator.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalDisambiguation.dir/RootWordStatisticsDisambiguation.cpp.o
